Django==5.2.7: O framework web.

djangorestframework: O framework que você usa para construir sua API REST.

django-cors-headers: O pacote que corrigiu o erro de comunicação com o React.

mysqlclient: O driver para conectar seu Django ao banco de dados MySQL